@import "tailwindcss";
@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
}

.float-1 { animation: float 3s ease-in-out infinite; }
.float-2 { animation: float 3s ease-in-out infinite 1s; }
.float-3 { animation: float 3s ease-in-out infinite 0.5s; }

* {
  font-family: 'Poppins', sans-serif;
}